@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<WebApplication1.Models.Sanpham>

@if (Model != null)
{

    @foreach (var item in Model)
    {
        <li class="span3">
            <div class="product-box">
                <span class="sale_tag"></span>
                <p>
                    <a href="https://localhost:44380/Home/ChiTietSanPham"><img src="~/images/g1.jpg" alt=""></a>
                </p>
                <a href="https://localhost:44380/Home/ChiTietSanPham" class="title">@item.Tensp</a><br>
                <a href="https://localhost:44380/Home/ChiTietSanPham" class="category">
                    <p class="price">@item.Gia</p>
                </a>

            </div>
        </li>

    }


}