@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        table th {
            background: #333333 !important;
            color: #fff;
            text-transform: uppercase;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#khachhang').blur(function () {
                var khachhang = $('#khachhang').val();
                $.ajax({
                    type: 'GET',
                    url: '/ThongKeKhachHangMuaNhieu/demo/' + khachhang,
                    success: function (result) {
                        var s = '';
                        var stt = 0;
                        s += '<table>';
                        s += '<tr><th>STT</th><th>Mã khách hàng</th><th>Tên khách hàng</th><th>Tổng tiền</th></tr>';
                        for (var i = 0; i < result.length; i++) {
                            s += '<tr>';
                            s += '<td>' + stt++ + '</td>';
                            s += '<td>' + result[i].ma + '</td>';
                            s += '<td>' + result[i].ten + '</td>';
                            s += '<td>' + result[i].tongtien + '</td>';
                           
                            s +=  '</tr>';
                        }
                        s += '</table>';

                        $('#test').html(s);
                    }
                });
            });




        });
    </script>
</head>
<body>


    <div style="text-align: center"><h2 style="background: #c6d9f1">REPORT</h2></div>



    @using (Html.BeginForm("print", "ThongKeKhachHangMuaNhieu", FormMethod.Post))
    {
        <span>Nhập số lượng khách hàng : </span>
        <input style="width: 200px" type="text" name="khachhang" id="khachhang">
        <div style="text-align: right">  <input style="text-align: right" type="submit" value="PRINT" /></div>
    }

    <p id="test"></p>
</body>
</html>