
@{
    ViewData["Title"] = "taikhoan";
    Layout = "~/Views/KHACHHANG/master.cshtml";
}


<div class="row">
    <div class="span5">
        <h4 class="title"><span class="text"><strong>Thông tin</strong> cá nhân</span></h4>
        <form action="customer.html" method="post">
            <input type="hidden" name="next" value="/">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Họ tên</label>

                    <div class="controls">
                        <input type="value" class="output-xlarge" id="name" value="Đinh Hữu Phước">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Địa chỉ</label>
                    <div class="controls">
                        <input type="value" class="output-xlarge" id="address" value="TP Hồ Chí Minh">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Số điện thoại</label>
                    <div class="controls">
                        <input type="value" class="output-xlarge" id="numberphone" value="01234567489">
                    </div>
                </div>
                <div class="control-group">
                    <input tabindex="3" class="btn btn-primary large" type="submit" id="submit" onclick="" value="Thay đổi thông tin">
                    <hr>
                </div>
            </fieldset>
        </form>
    </div>
   
</div>


