
@{
    ViewData["Title"] = "ReportAD";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="trangchuad">Trang chủ</a><i class="fa fa-angle-right"></i>Đơn hàng</li>
</ol>

<!-- grids -->
<div class="grids">



    <div class="agile-calendar-grid">
        <div class="page">

            <div class="w3l-calendar-left">
                <div class="calendar-heading">

                    <form method="post" action="{{route('report-ad')}}">

                        <div style="text-align: center"><h2 style="background: #c6d9f1">REPORT</h2></div>
                        Nhập ngày:<input style="width: 200px" type="text" name="date" id="date">
                        {{-- <a role="button" class="btn btn-primary" href="{{ url('date_pdf') }}">Export to PDF</a> --}}

                    </form>

                    <div style="text-align: right"><a href="{{ url('donhang_pdf') }}"><i class="fa fa-print"></i><span>PRINT PDF</span></a></div>


                    <p id="test"></p>


                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>


        {{-- Thong ke don hang --}}




        <script>
	$(document).ready(function() {
		var navoffeset=$(".header-main").offset().top;
		$(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".header-main").addClass("fixed");
			}else{
				$(".header-main").removeClass("fixed");
			}
		});

	});
        </script>
        <script>
	$(document).ready(function(){
	$('#date').blur(function(){
	 var query = $(this).val();
	 if(query != '')
	 {
	  var _token = $('input[name="_token"]').val();
	  $.ajax({
	   url:"{{ route('report-ad') }}",
	   method:"POST",
	   data:{query:query, _token:_token},
	   success:function(data){
		$('#test').html(data);
	  }
	});
	}
	});
	});
        </script>

        <div class="inner-block">

        </div>


