
@{
    ViewData["Title"] = "trangchu";
    Layout = "~/Views/Home/master.cshtml";
}

    <body>

        <div id="wrapper" class="container">

            <section class="main-content">
                <div class="row">
                    <div class="span12">
                        <br>
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">

                                    <span class="pull-left">
                                        <span class="text"><span class="line"><a href="https://localhost:44380/Home/ChiTietSanPham"><strong>Các sản phẩm gần đây nhất</strong></a></span></span>
                                    </span>

                                    <span class="pull-right">
                                        <a class="left button" href="https://localhost:44380/Home/ChiTietSanPham" data-slide="prev"></a><a class="right button" href="http://localhost/lar-53/public/index#myCarousel-2" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-2" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p>
                                                            <a href="https://localhost:44380/Home/ChiTietSanPham"><img src="~/img/Galaxy-note-10-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44380/Home/ChiTietSanPham" class="title">Samsung Galaxy Note 10 Plus 12Gb/256Gb Chính Hãng Siêu phẩm Android 2019</a><br>
                                                        <a href="https://localhost:44380/Home/ChiTietSanPham" class="category">
                                                            <p class="price">21,590,000 VNĐ</p>
                                                        </a>

                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Samsung-Galaxy-a60-1.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy A60 6Gb/64Gb Chip Snapdragon 675</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">5,690,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Samsung-Galaxy-a70-1.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy A70 6Gb/128Gb Chính Hãng Màn hình tràn viền lớn nhất</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">7,390,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Samsung-Galaxy-a80-1.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy A80 8Gb/128Gb Chính Hãng Máy đẹp, camera trượt xoay, màn Fullview</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">10,890,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="https://localhost:44357/DOAN/ChiTietSanPham"><img src="~/img/Redmi-7a-1.png" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="title">Know exactly</a><br>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="category">Quis nostrud</a>
                                                        <p class="price">1,890,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="https://localhost:44357/DOAN/ChiTietSanPham"><img src="~/img/Redmi-K20-Pro-1.png" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="title">Ut wisi enim ad</a><br>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="category">Commodo consequat</a>
                                                        <p class="price">5,390,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="https://localhost:44357/DOAN/ChiTietSanPham"><img src="~/img/A9-2020-2.png" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="title">You think water</a><br>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="category">World once</a>
                                                        <p class="price">6,990,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="https://localhost:44357/DOAN/ChiTietSanPham"><img src="~/img/F11-pro-2.png" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="title">Quis nostrud exerci</a><br>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="category">Quis nostrud</a>
                                                        <p class="price">7,490,000 VNĐ</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- -->
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="https://localhost:44357/DOAN/ChiTietSanPham"><img src="~/img/bluetooth-apple-air-4.png" alt=""></a>
                                                        </p>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="title">Know exactly</a><br>
                                                        <a href="https://localhost:44357/DOAN/ChiTietSanPham" class="category">Quis nostrud</a>
                                                        <p class="price">3,690,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/watch-S4-4.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Ut wisi enim ad</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">Commodo consequat</a>
                                                        <p class="price">6,990,000 VNĐ</p>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <!-- -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">

                                    <span class="pull-left">
                                        <span class="text"><span class="line"><a href="http://localhost/lar-53/public/product_detail.html"><strong>Các sản phẩm Cao cấp</strong></a></span></span>
                                    </span>

                                    <span class="pull-right">
                                        <a class="left button" href="http://localhost/lar-53/public/index#myCarousel-3" data-slide="prev"></a><a class="right button" href="http://localhost/lar-53/public/index#myCarousel-3" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-3" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/11-pro-max.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">iPhone 11 Pro Max 512GB Mới Chính Hãng</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">43,990,000 VNĐ</p>
                                                        </a>

                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/11-pro.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">iPhone 11 Pro 64GB Mới Chính Hãng Chưa kích hoạt đủ bảo hành Việt Nam VN/A</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">30,990,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Galaxy-note-10-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy Note 10 Plus 12Gb/256Gb </a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">21,590,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/xs-max.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">iPhone Xs Max 256Gb Bảo hành toàn quốc, kèm sạc, cable chính hãng</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">28,490,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/x.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Apple iPhone X 64Gb chưa kích hoạt, bản KH/A đủ bảo hành Apple</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">18,290,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/note-9.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy Note 9 512Gb Chính Hãng Quyền năng mới, đậm dấu ấn</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">22,350,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/s10-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy S10+ 1TB Chính Hãng Vân tay siêu âm trên màn hình, thiết kế độc nhất</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">33,990,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/8-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">iPhone 8 Plus 256Gb Mới Chính Hãng chưa kích hoạt, bản Vn/a, nguyên hộp</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">22,590,000 VNĐ</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- -->
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/s9-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy S9 Plus 128GB chính hãng</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">22,890,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/r17-pro.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">OPPO R17 Pro chính hãng Thiết kế thời thượng,năng lượng tối đa</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">16,990,000 VNĐ</p>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <!-- -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">

                                    <span class="pull-left">
                                        <span class="text"><span class="line"><a href="http://localhost/lar-53/public/product_detail.html"><strong>Các sản phẩm trung cấp</strong></a></span></span>
                                    </span>

                                    <span class="pull-right">
                                        <a class="left button" href="http://localhost/lar-53/public/index#myCarousel-4" data-slide="prev"></a><a class="right button" href="http://localhost/lar-53/public/index#myCarousel-4" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-4" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Reno-1.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">OPPO Reno 2 8GB/256GB chính hãng Oppo Reno với cụm 4 camera 48MP ở mặt sau</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">14,990,000 VNĐ</p>
                                                        </a>

                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Mi-9-1.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Mi 9 Chính Hãng DGW 64 Gb Ram 6 Gb Chụp ảnh đẹp thứ 3 thế giới, Vân tay trong màn hình</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">10,490,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Samsung-Galaxy-a80-1.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Samsung Galaxy A80 8Gb/128Gb Chính Hãng Máy đẹp, camera trượt xoay, màn Fullview</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">10,890,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/7-plus.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">iPhone 7 Plus 128GB Bảo Hành Trần Đã Active, Bản EU, Tặng Sạc, Cable Titan</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">11,390,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Black-Shark-pro.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Black Shark 2 Pro 128GB Ram 12GB</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">10,990,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Mi-8-pro.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Mi 8 Pro 128 Gb Ram 8 Gb Chính hãng DGW Vân tay dưới màn hình, bảo mật khuôn mặt</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">12,290,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Mi-mix-3.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Mi Mix 3 – 256 Gb Ram 8 Gb Màn hình tràn viền đẹp nhất, tặng kèm sạc không dây chính hãng trong hộp</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">12,790,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Mi-6.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Mi 6 Chính hãng DGW 64GB Ram 6GB Flagship cấu hình đỉnh, đáng sở hữu nhất</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">9,890,000 VNĐ</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- -->
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <!--
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="product_detail.html"><img src="themes/images/cloth/anh10.png" alt="" /></a>
                                                        </p>
                                                        <a href="product_detail.html" class="title">Know exactly</a><br/>
                                                        <a href="products.html" class="category">Quis nostrud</a>
                                                        <p class="price">28.500.000đ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="product_detail.html"><img src="themes/images/cloth/anh13.png" alt="" /></a>
                                                        </p>
                                                        <a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
                                                        <a href="products.html" class="category">Commodo consequat</a>
                                                        <p class="price">19.500.000đ</p>
                                                    </div>
                                                </li>
                                            -->
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/images.png"></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Sản phẩm trung cấp</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">Xem thêm</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">

                                    <span class="pull-left">
                                        <span class="text"><span class="line"><a href="http://localhost/lar-53/public/product_detail.html"><strong>Các sản phẩm phổ thông</strong></a></span></span>
                                    </span>

                                    <span class="pull-right">
                                        <a class="left button" href="http://localhost/lar-53/public/index#myCarousel-5" data-slide="prev"></a><a class="right button" href="http://localhost/lar-53/public/index#myCarousel-5" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-5" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/A5-2020.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">OPPO A5 2020 3GB/64GB Chính Hãng Pin 5.000 mAh, 4 camera sau, chip Snapdragon 665</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">4,290,000 VNĐ</p>
                                                        </a>

                                                    </div>
                                                </li>
                                                @*<li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/3-pro-8.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Realme 3 Pro 4GB/64GB Chính Hãng Chip S710, camera quay phim 960fps</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">4,390,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>*@
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/5-pro-5.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Realme 5 Pro 8GB/128GB Chính Hãng Snapdragon 712 AIE, 4 Camera siêu khủng</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">6,990,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/5.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Realme 5 3GB/64GB Chính Hãng Snapdragon 665, 4 Camera siêu khủng</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">
                                                            <p class="price">3,990,000 VNĐ</p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="item">
                                            <ul class="thumbnails">
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Redmi-Note-8-pro-4.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Redmi Note 8 Pro Ram 6GB/64GB</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">4,790,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Redmi-Note-7-4.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Redmi Note 7 Chính Hãng DGW Ram 3GB / 32GB</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">3,690,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Redmi-K20-Pro-1.png" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Redmi K20 Pro 64GB Ram 6GB</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">6,790,000 VNĐ</p>
                                                    </div>
                                                </li>
                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/Mi-cc9.jpg" alt=""></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Xiaomi Mi CC9 RAM 6GB/64GB</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category"></a>
                                                        <p class="price">5,590,000 VNĐ</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- -->
                                        <div class="item">
                                            <ul class="thumbnails">

                                                <li class="span3">
                                                    <div class="product-box">
                                                        <p>
                                                            <a href="http://localhost/lar-53/public/product_detail.html"><img src="~/img/images.png"></a>
                                                        </p>
                                                        <a href="http://localhost/lar-53/public/product_detail.html" class="title">Sản phẩm phổ thông</a><br>
                                                        <a href="http://localhost/lar-53/public/products.html" class="category">Xem thêm</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>





        <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 12px; right: 0px; opacity: 1; cursor: pointer;"><img src="source/themes/images/gotop.png" style="width:40px; height:40px; margin-top: 25px; margin-right: 17px;"></div>
    </body>

