@model WebApplication1.Models.Sanpham

@{
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <br />
    <br />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Masp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |       
        <a style="background:#fcb216;padding: 6px 9px 10px 5px;" asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
